@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
@layer utilities {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

/* 全局样式 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'WangHanZong';
  src: url('/fonts/王漢宗中隸書繁.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 添加一个专门的类来使用这个字体 */
.chinese-font {
  font-family: 'WangHanZong', sans-serif;
}